################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Portfolio-React
/portfolio-react.client/obj/Debug
/Portfolio-React.Server/bin/Debug/net7.0
/Portfolio-React.Server/obj
